@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header{
    width: 100%; 
    height:100vh; 
    background-attachment: scroll;
    background:linear-gradient(57deg, #0cd5f8d9, rgb(12 4 130));
    clip-path: polygon(0% 0%,100% 0%, 100% 70%, 0% 100%);
}
nav{
    width: 100%; 
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.logo{
    width: 50%;
    height: 80px;
}
.logo h1{
    line-height: 80px; 
    padding-left: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.menu{
    width: 50%;
    height: 80px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;
    line-height: 80px;
}
.menu ul li{
    font-family: 'Baloo Bhaina 2', cursive;
    list-style: none;
    font-size: 15px;
    text-transform: capitalize;

    }
section{
    display: flex;
}
.leftside {
     width: 40%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 50px;
    
} 
.leftside img{
    width: 400px;
    height: 350px;
}
.rigthside{
    width: 60%;
    height: 300px;
    color: white;
    text-align:center;
    margin-top: 50px;
    
}
.rigthside h1{
    font-size: 45px;
    font-family: 'Baloo Bhaina 2', cursive;
    text-transform: uppercase;
    
}
.rigthside p{
    font-size: 13px;
    font-family: 'Noto Sans Display', sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
    /* font-weight: bold; */

}
.btn{
    width: 110px;
    height: 15px;
    font-size: 20px;
    padding-bottom: 37px;
    border-radius: 20px;
    color: white;
    font-family:'Baloo Bhaina 2', cursive; ;
    background:linear-gradient(57deg, #0cd5f8d9, rgb(12 4 130));
}
.btn:hover{
    background:linear-gradient(57deg,rgb(12 4 130), #0cd5f8d9);

}